body {
    margin: 0;
}

.logo {
    height: 54px;
}

.logo img {
    width: 100%;
}

.header {
    padding: 4px 82px;
    box-sizing: border-box;
    background: #F2FAF8;
    box-shadow: 0 0 24px rgba(0, 97, 87, 0.2);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1230px;
    margin: 0 auto;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
}

.item {
    margin-right: 80px;
}

.item:last-child {
    margin-right: 0;
}

.link {
    color: #002F3E;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.35px;
    text-transform: capitalize;
    text-decoration: none;
}

.contact-us {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 24px;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.352px;
    text-transform: capitalize;
    background: linear-gradient(90deg, #006A63 -18.66%, #00D2A4 118.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: center;
}

.contact-us::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 32px;
    border: 1px solid transparent;
    background: linear-gradient(90deg, #006A63 -18.66%, #00D2A4 118.08%);
    -webkit-mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.main {
    width: 1230px;
    margin: 0 auto;
}

.banner {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    height: 482px;
    width: 100%;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.banner__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 82px;
}

.banner__title {
    padding-top: 120px;
    margin: 0;
    color: #002F3E;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    letter-spacing: 3px;
}

.banner__description {
    margin: 0 0 72px 0;
    color: #002F3E;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.banner__soon {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 17px 70px;
    background: linear-gradient(90deg, #006A63 -18.66%, #00D2A4 118.08%);
    box-shadow: 0 6px 15px rgba(2, 128, 108, 0.3);
    border-radius: 32px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.3px;
    outline: none;
    border: none;
}
